

.img-movie img{
    border-radius: 10px;
    
}
.details{
display: flex;
width: 100%;
}

.detail{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    }
   
    .genres{
        display: flex;
        margin-top: 30px;
    }
    .genre{
        background-color: rgb(159, 42, 165);
        padding: 2px;
        border-radius: 10px;
        margin-left: 10px;
        
    }
    .title{
        display: flex;
        justify-content: flex-start;
    }
.progress_play{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
    .progress-bar{
        
        width: 70px;
        height: 70px;
    }
    .img-play{
        margin-top: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: white;
    }
    .img-play img{
        width: 70px;
        height: 70px;
    }
    .overview{
        margin-bottom: 40px;
    }
    .overview p{
        font-size: 20px;
    }
    .release-date{
        display: flex;
       justify-content: space-between;
    }
    .slider{
        margin-top: 30px;
    }
  

